.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .chat {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
    line-height: 1.4;
    word-wrap: break-word;
  }
  
  .user {
    align-self: flex-end;
    background-color: #3f51b5;
    color: #ffffff;
  }
  
  .roamguru {
    align-self: flex-start;
    background-color: lightgrey;
    color: #000000;
  }
  
  .chatInput {
    display: flex;
    margin: 0 auto;
    padding: 10px;
  }
  
  .chatInput input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .chatInput button {
    padding: 10px;
    margin-left: 5px;
    background-color: #3f51b5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
  